/* detail.css */

h1,
h2 {
  text-align: center;
  color: #333;
}

hr {
  border: none; /* Remove default border */
  border-top: 1px solid #ccc; /* Add a custom solid line */
  margin: 20px 0; /* Add some vertical space above and below the line */
}

/* span {
  display: inline; 
  margin-left: 10px;
  margin-right: 50px;
} */

body {
  font-family: Arial, sans-serif;
}

.room-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 300px); /* creates two columns of equal width */
  grid-gap: 5px;
  column-gap: 0.8px;
  margin: 30px;
}

.large-image-container {
  width: 100%;
  height: 80%;
  padding: 5px;
  /* overflow: scroll; */
  margin: 2px;
}

.large-image-container img {
  max-width: 100%;
  height: 120%;
  border-radius: 10px;
}

.room-layout-container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-gap: 5px;
  column-gap: 30px;
  margin: 50px;
}

.box-container {
  text-align: left;
  padding: 5px;
  margin: 2px;
}

.box-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.sidebox-container {
  width: auto;
  /* text-align: right; */
  padding: 5px;
  /* overflow: scroll; */
  border: 1px solid grey;
  border-radius: 2%;
  margin: 2px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

/* .booking-widget {
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: auto;
} */

.price {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.reviews {
  background: #EEE;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

.date-selection {
  display: flex;
  /* justify-content: space-between; */
  column-gap: 20%;
  margin-bottom: 20px;
}

.check-in, .check-out {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.check-in input, .check-out input {
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
}

.guests {
  margin-bottom: 20px;
  font-weight: bold;
}

.guests select {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #FFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact-host {
  background-color: #000;
  color: #FFF;
  padding: 15px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;

  cursor: pointer;
}

.charge-info {
  font-size: 14px;
  text-align: center;
}

.text h4 span {
  display: inline-block; /* or use display: flex; */
  margin-right: 10px; /* Adjust as needed */
}

.amenities-each {
  margin-bottom: 10px;
}


#detail-headers {
  text-align: left;
}

#note {
  color: grey;
}

#pentagram {
  max-width: 80%;
  height: auto;
  margin: 10%;
}