/* explore.css */

.search-container{
  border: 2px solid #603434;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-gap: 5px;
  column-gap: 0.8px;
  margin: 40px;
}

.input-container{
  margin: 30px;
}

.grid-container{
  display: grid;
  width: 105%;
  height: 70%;
  grid-template-columns: repeat(2, 300px); /* creates two columns of equal width */
  grid-gap: 5px;
  column-gap: 0.8px;
  overflow: scroll;
  margin: 30px;
}

.map-container {
  width: 120%;
  height: 75%;
  text-align: right;
  padding: 5px;
  overflow: scroll;
  margin: 2px;
}

.layout-container{
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-gap: 5px;
  column-gap: 70px;
  margin: 50px;
}

.house-container {
  text-align: left;
  padding: 5px;
  margin: 2px;
}

.house-container img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

#search-button {
  display: block;
  width: 100px;
  background-color: #333;
  color: #ffffff;
}

.filter-options {
  /* Initial state should be invisible, so you might want to include this */
  display: none;
}

/* You can toggle the display of the filter options with a class or a conditional style */
.filter-container.visible .filter-options {
  display: block;
}

.filter-container {
  /* border: 2px solid #ffffff; */
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 450px);
  grid-gap: 5px;
  column-gap: 5px;
  row-gap: 30px;
  margin-left: 70px;
  position: relative;
}

#filter-toggle {
  /* border: 1px solid #ddd; */
  padding: 10px;
  width: 10%;
  height: 25%;
  margin-top: 10%;
  /* cursor: pointer; */
}

.filter-options {
  display: none; /* Hide filters by default */
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  padding: 20px;
  width: 100%;
  z-index: 100;
}

.filter-option {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

select {
  padding: 5px;
  margin-right: 20px;
}

#char_space {
  margin: 10px;
}

