/* listplace.css */

.image-container {
  margin-right: auto;
  padding: 20px;
}

.content-container,
.image-container {
  display: flex;
  flex-direction: column;
}

.image-container img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
}

h1,
h2 {
  text-align: left;
  color: #333;
}

#start-listing-button {
  display: block;
  width: 200px;
  margin: 30px auto;
}
