/* Profile.css */
.personal-info-back {
    background-image: url('./pic/personal-info-back.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-container {
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 140px;
}

.profile-container h1, .profile-container h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
    text-align: left;
    margin-left: 0;
    margin: 22px;
}

.formm {
    display: flex;
    flex-direction: column;
    padding: 10px; 
    margin: 22px;
}

.forms-row {
    display: flex;
    align-items: center;
    margin-bottom: 40px; /* 分隔行 */
}

.forms-row label {
    margin-right: 21px; /* 标签右边距 */
    white-space: nowrap;
    font-size: 16px; /* 增大标签的字体大小 */
}

.forms-row input[type="text"],
.forms-row input[type="date"],
.forms-row input[type="email"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 17px; 
    font-size: 14px; 
}

.forms-row div {
    display: flex;
    align-items: center;
}

.forms-save-button:hover {
    background-color: rgb(217, 210, 5);
}


label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
    display: block;
    margin-left: 0;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    padding: 12px; /* 统一输入框的填充 */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 14px; 
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="radio"] + label {
    display: inline-block;
    margin-right: 20px;
}

.your-place-container, .your-favorite-container {
    position: relative;
}

.your-place-container img, .your-favorite-container img {
    width: 35%;
    height: auto;
    border-radius: 4px;
    margin: 32px;
}

.your-place-button {
    position: absolute;
    right: 40px;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f8f8f8;
}

.personal-info-button {
    padding: 8px 50px;
    font-size: 18px;
    border: none;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 9px;
    cursor: pointer;
    position: absolute; 
    top: 50%; 
    left: 50%;
}

.personal-info-button:hover {
    background-color: rgb(217, 210, 5);
}


.contact-requst-button-1 {
    padding: 8px 50px;
    font-size: 18px;
    border: none;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 9px;
    cursor: pointer;
    position: absolute; 
    top: 70%; 
    left: 50%;
}

.contact-requst-button-2 {
    padding: 8px 50px;
    font-size: 18px;
    border: none;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 9px;
    cursor: pointer;
    position: absolute; 
    top: 70%; 
    left: 80%;
}

.contact-requst-button-1:hover {
    background-color: rgb(217, 210, 5);
}

.contact-requst-button-2:hover {
    background-color: rgb(217, 210, 5);
}

/* 新加入部分的样式 */
.your-favorite-container {
    display: flex;
    align-items: center;
    margin-top: 20px; /* 调整与上方元素的间距 */
}


.contact-request-time-info {
    margin-bottom: 10%; 
    margin-left: 8%; 

}

.contact-requst-button-1,
.contact-requst-button-2 {
    padding: 8px 50px;
    font-size: 18px;
    border: 1.5px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: white;
}

.contact-requst-button-1:hover,
.contact-requst-button-2:hover {
    background-color: rgb(217, 210, 5);
}



